{% extends 'base.html' %}

{% block heading %}
Pinocchio's Pizza & Subs
{% endblock %}

{% block style %}{% endblock %}

{% block header %}

{% if not user.is_authenticated %}
<p><a href="/" class="btn btn-primary btn-sm" role="button">menu</a></p>
<div class="alert alert-warning" role="alert">
  You are not logged in, so you can't place orders. <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">sign up</a>
</div>
{% else %}
<nav class="nav">
  <span class="nav-link">Hi <span class="font-weight-bold">{{ user.username }}</span>!</span>
  <a class="nav-link" href="/">menu</a>
  {% if user.customer %}
    <a class="nav-link" href="{% url 'cart' %}">View cart</a>
  {% endif %}
  <a class="nav-link" href="{% url 'logout' %}">logout</a>
  <a class="nav-link" href="{% url 'view_orders' %}">View {% if user.is_staff %}Customer {% endif %}Orders</a>
</nav>
{% endif %}

{% endblock %}
