{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% block subheading %}Cart{% endblock %}

{% block content %}

{% if empty_cart %}
Your cart is empty!
{% else %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Dish</th>
            <th scope="col">Size</th>
            <th scope="col">Toppings</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{item.dish}}</td>
            <td>{% if item.size != 'Regular' %}{{item.size}}{% else %}-{% endif %}</td>
            <td>
                {% if item.toppings %}{{ item.toppings|join:", " }}{% else %}-{% endif %}
            </td>
            <td>${{item.price}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h5>Total: ${{total}}</h5>
<form method='POST' action='/place_order/'>
    {% csrf_token %}
    <input type="hidden" name="price" value="{{ total }}">
    <button>Order</button>
</form>
{% endif %}

{% endblock %}