{% extends 'orders/base.html' %}

{% block title %}Home{% endblock %}


{% block content %}

{% for menu_section, items in menu %}

<h2>{{ menu_section }}</h2>
<table>
  {% for dish in items.dishes %}
  <tr>
    <td>
      <form method='POST' action='/dish/'>
          {% csrf_token %}
          <input type='hidden' value='{{ dish.id|slugify }}' name='dish_id'>
          <input type="submit" name='dish' value="{{ dish.name }}" class="btn btn-link">
      </form>
    </td>
  </tr>
  {% endfor %}

</table>

{% endfor %}


{% endblock %}