{% extends 'orders/base.html' %}

{% block title %}Home{% endblock %}


{% block style %}
<style>
  .menu_section {
    padding: 8px 14px;
  }
  td {
    padding: 0rem !important;
  }
  .menu_item_info input {
  	padding: 1.125rem 1.5rem;
  	color: #1d1d1d;
  	font-weight: bold;
  	text-align: left;
  }
</style>
{% endblock %}

{% block subheading %}Menu{% endblock %}

{% block content %}

{% for menu_section, items in menu %}
<h4 class="menu_section">{{ menu_section }}</h4>
<table class="table table-hover">
  {% for dish in items.dishes %}
  <tr>
    <td>
      <form method='POST' action='/dish/'>
        {% csrf_token %}
        <input type='hidden' value='{{ dish.id|slugify }}' name='dish_id'>
        <div class="menu_item_info">
          <input type="submit" name='dish' value="{{ dish.name }}" class="btn btn-link btn-block" style="color: inherit; text-decoration: none;">
        </div>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endfor %}

{% endblock %}
