{% extends 'orders/base.html' %}

{% block title %}Home{% endblock %}


{% block style %}
<style>
/*  I borrowed a tiny bit of CSS from this website
    http://eat24hrs.com/restaurants/order2/menu.php?id=70528  */
  .menu_section {
    padding: 8px 14px;
    color: white;
    background: #b70e0e;
  }
  .menu_item_info input {
  	color: #1d1d1d;
  	font-size: 16px;
  	font-weight: bold;
  	padding-right: 100%;
  }
</style>
{% endblock %}


{% block subheading %}Menu{% endblock %}


{% block content %}
<div style="margin-left: 15px;">
  {% for menu_section, items in menu %}
  <h4 class="menu_section">{{ menu_section }}</h4>
  <table class="table table-hover">
    {% for dish in items.dishes %}
    <tr>
      <td>
        <form method='POST' action='/dish/'>
            {% csrf_token %}
            <input type='hidden' value='{{ dish.id|slugify }}' name='dish_id'>
            <div class="menu_item_info">
              <input type="submit" name='dish' value="{{ dish.name }}" class="btn btn-link" style="color: inherit; text-decoration: none;">
            </div>
        </form>
      </td>

    </tr>
    {% endfor %}
  </table>
  {% endfor %}
</div>



{% endblock %}
