{% extends 'orders/base.html' %}


{% block subheading %}Order{% endblock %}
{% block content %}

<table class="table">
    <tbody>
        {% if user.is_staff %}
        <tr>
            <th scope="row">Customer</th>
            <td>{{customer}}</td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">Date</th>
            <td>{{date}}</td>
        </tr>
        <tr>
            <th scope="row">Total Price</th>
            <td>${{price}}</td>
        </tr>
        <tr>
            <th scope="row">Completed</th>
            <td>{{ completed }}</td>
        </tr>
    </tbody>
</table>

<h5>Items included</h5>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Dish</th>
            <th scope="col">Size</th>
            <th scope="col">Toppings</th>
            <th scope="col">Price</th>
        </tr>
    </thead>

    <tbody>
        {% for item in items %}
        <tr>
            <td>{{item.dish}}</td>
            <td>{% if item.size != 'Regular' %}{{item.size}}{% else %}-{% endif %}</td>
            <td>
                {% if item.toppings %}{{item.toppings}}{% else %}-{% endif %}
            </td>
            <td>${{item.price}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if user.is_staff %}
    <form method="POST" action="{% url 'mark_order_complete' %}">
        {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order_id }}">
        <button type="submit">Mark as complete</button>
    </form>
{% endif %}


{% endblock %}

