{% extends 'base.html' %}
{% block title%}Order{% endblock %}
{% block subheading %}Order{% endblock %}

{% load humanize %}

{% block content %}

<table class="table">
    <tbody>
        {% if user.is_staff %}
        <tr>
            <th scope="row">Customer</th>
            <td>{{customer}}</td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">Total Price</th>
            <td>${{price}}</td>
        </tr>
         <tr>
            <th scope="row">Date placed</th>
            <td>{{date|naturaltime}}</td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td>
                {% if completed %}
                    Completed
                    {% if completed_date %}
                        ({{completed_date|naturaltime}})
                    {% endif %}
                {% else %}
                    Pending
                {%endif%}
            </td>
        </tr>
    </tbody>
</table>

<h5>Items included</h5>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Dish</th>
            <th scope="col">Size</th>
            <th scope="col">Toppings</th>
            <th scope="col">Price</th>
        </tr>
    </thead>

    <tbody>
        {% for item in items %}
        <tr>
            <td>{{item.dish}}</td>
            <td>{% if item.size != 'Regular' %}{{item.size}}{% else %}-{% endif %}</td>
            <td>
                {% if item.toppings %}{{ item.toppings|join:", " }}{% else %}-{% endif %}
            </td>
            <td>${{item.price}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if user.is_staff and not completed %}
    <form method="POST" action="{% url 'mark_order_complete' %}">
        {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order_id }}">
        <button type="submit">Mark as complete</button>
    </form>
{% endif %}


{% endblock %}

